// Here you can add other styles
.btn-action {
    width: 6em !important;
}

.input-group>.item-header-text.input-group-prepend {
    flex: 0 0 20%;
}

.input-group .input-group-text {
    width: 100%;
}

.btn.btn-secondary {
    color: white;
}
