// Here you can add other styles
.btn-action {
    width: 6em !important;
}

.input-group>.input-group-prepend {
    flex: 0 0 20%;
}
.input-group .input-group-text {
    width: 100%;
}

.modal-content {
    width: initial;
}
